/* .container{
    display: flex;
    
} */
.row {
    display: flex;
    flex-direction: column;
    -ms-flex-item-align: center;
    
  }
  
  [class*='col-'] {
    float: none !important;
  }

  img{
    background-color: black;
  }