.row {
    display: flex;
    flex-direction: column;
    -ms-flex-item-align: center;
  }
  /* Section Latest news ============================= */
.section-latest-news .row {
    flex-direction: row-reverse;
  }
  /*** 4. CARD ***/
  
  [class*='col-1-3'] {
    float: initial !important;
  }
  [class*='col-1-2'] {
    float: initial !important;
  }