:root {
    --header-logo-position: value;
    --header-logo-link-display: value;
    --header-logo-link-position: value;
    --header-logo-link-top: value;
    --header-logo-link-left: value;
  }
.row {
    display: flex;
    flex-direction: column;
    -ms-flex-item-align: center;
  }
  /* Section Latest news ============================= */
.section-latest-news .row {
    flex-direction: row-reverse;
  }
  /* Section SERVICES ============================= */
.section-services .row {
    flex-wrap: wrap;
  }
  /*** 4. CARD ***/
  
  
  /* Grid */

.col-1-3 {
    width: calc((100% / 3) - 2rem);
  }
  
  .col-1-2 {
    width: calc((100% / 2) - 2rem);
  }
  
  [class*='col-'] {
    padding: 0;
    margin: 1rem;
  }
  ul.row {
    margin: -1rem;
  }
  /* Header section */

.header-container {
    display: flex;
    justify-content: space-between;
  }
  
  /* .navbar-menu {
    
  } */
  /* .header-logo{
    float: none !important;

  } */